.cap1 video{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  border-radius: 10px;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 3px black;
}

.cap1{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;  
}

.cuerpo{
  background-color: #520d0d;
}
